{{> mainmenu _id="report"}}

<section class="ui raised segment">

  {{> donationlist }}

  <div class="ui  divider"></div>

  <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
    <div class="bar"></div>
  </div>

</section>